<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="InstanceContext" connectionString="Server=(localdb)\mssqllocaldb;Database=master;Trusted_Connection=True;"/>
    <add name="CqrsContext" connectionString="Server=(localdb)\mssqllocaldb;Database=CqrsContext;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>